<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ayur_Connect</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/css/Features-Blue.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/Header-Blue.css">
    <link rel="stylesheet" href="static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="static/css/Login-Form-Clean-1.css">
    <link rel="stylesheet" href="static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body onload="load()">
  <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDkjNXBrYHIVC-PGlyAYCuNEx9KIssRgVU",
    authDomain: "ayur-7ec86.firebaseapp.com",
    databaseURL: "https://ayur-7ec86.firebaseio.com",
    projectId: "ayur-7ec86",
    storageBucket: "ayur-7ec86.appspot.com",
    messagingSenderId: "678410598979"
  };
  firebase.initializeApp(config);
</script>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase-functions.js"></script>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Ayur_Connect</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">

                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Log Out</a></div>
        </div>
    </nav>
    <div class="container">
      <embed src="assets/MR.pdf" width="500" height="375" type="application/pdf">
    </div>

<div class="container">
<form class="form-group" target="_self">
  <label>Priscription</label>
  <textarea rows="10" cols="50" id="text">
  </textarea>
  <button>Submit</button>
</form>
</div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script>
    service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
    function load()
    {
      javascipt:window.open('assets/MR.pdf');
    }
    </script>
</body>

</html>
